/*CSS file*/

input{
    width: 430px;
	margin: 0 auto;
    padding: 10px;
    border: 1px solid #ccc;
}


.inner_container{
	width:450px;
	margin:0 auto;
}
.login_button {
    background-color: gray;
    color: black;
	margin-top:10px;
    padding:10px;
    width: 100%;
	font-size:18px;
	font-weight: bold;
}
.register_btn{
	background-color: gray;
    color: black;
	margin-top:10px;
	margin-bottom:15px;
	padding:10px;
    width: 100%;
	font-size:16px;
	font-weight: bold;
	
}
.back_btn{
	margin-top:10px;
	color: black;
	margin-bottom:15px;
    padding: 10px;
    background-color: gray;
}
.logout_button{
	background-color: gray;
    color: black;
	margin-top:10px;
    padding:10px;
    width: 100%;
	font-size:18px;
	font-weight: bold;
}

.sign_up_btn {
	background-color: gray;
    color: white;
	 padding:10px;
	margin-top:10px;
	margin-bottom:10px;
    width: 100%;
	font-size:16px;
	font-weight: bold;
}

.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
}

img.avatar {
    width: 30%;
    border-radius: 50%;
}

.container {
    margin: 16px;
	width:100%;
}